				<div class="violet-about">
                    <h4 class="v-section-tit">About PIZn</h4>
                    <article class="violet-about-det">
                        <p id="J_myFace" class="v-my-face"><img src="/images/face/iampizn-1.png" alt="Hello PIZn!" width="146px" height="100px" id="J_myFace_img" /><span>Face to Face!</span></p>
                    </article>
                    <p class="v-more-right">
                        <a href="/contact.html"><span>&#10149;</span>More</a>
                    </p>
                </div><!-- //violet-about -->
